<header>
    <section class="page-header">
        <h1 class="project-name"><a class="a-hdr" href="{{site.baseurl | append: '/' | append: site.index[page.lang] }}">{{ site.title[page.lang] }}</a></h1>
        <h2 class="project-tagline"></h2>
      	{% assign pages=site.pages | where:"lang", page.lang %}
        {% for page in pages %}
            {% if page.title %}
                {% if page.url == '/ack/' or page.url == '/ackua/' or page.url == '/ackru/' %}
                    {% continue %} 
                {% endif %}
            <a class="btn" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
        {% endfor %}

        <br>
        <br>
        <br>
		<!--<div class="lang">
		{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
		{% for page in pages %}
		  	<a href="{{ page.url }}" class="a-hdr">{{ page.lang }}</a>
		{% endfor %}
		</div>
        -->
    </section>

</header>